
body {
  font-family: "Lato", sans-serif;
  color: #747704;
  font-weight: 300;
}

.text-muted {
    color: #bcbbbb;
}

.text-thin {
    font-weight: 100;
}

.title-super {
    font-size: 60px;
}

.title-logo {
    margin-top: 20px;
}

.faerun_logo {
    width: auto;
    height: auto;
  }

.mordor {
   width: 100%;
   height: auto;
}

.conan {
   width: 350px;
   height: 220px;
}


.drizzt
.eddie {
   width: 350px;
   height: 220px;
}
